/* Base styles */
body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
  
textarea {
    font-family: sans-serif;
    background: #ffffff;
    width: 98%;
    min-height: 400px;
    height: calc(75vh - 40px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    resize: none;
}
  
#save-button {
    background: #e8e8e8;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}
  
/* Theme styles (use media queries for device mode detection) */
  
/* Light theme (default) */
body.light-theme {
    background-color: #ffffff;
    color: #000000; /* Text color for light theme */
}
  
textarea.light-theme {
    background-color: #f5f5f5; /* Textarea background for light theme */
}
  
#save-button.light-theme {
    background-color: #f5f5f5; /* Button background for light theme */
}
  
/* Dark theme (applied when device mode is dark) */
@media (prefers-color-scheme: dark) {
    body {
        background: #121414; /*#502400 => #000030 or #000040 => #000000*/
        color: #dddddd; /* Text color for dark theme */
    }
    textarea {
        background: #000000; /* Textarea background for dark theme */
        color: #dddddd;
        border: 1px solid #00cccc;
    }
    textarea:hover  {
        border: 1px solid #dddddd;
    }
    #save-button  {
        background-color: #000020; /* Button background for dark theme */
        color: #dddddd;
        border: 1px solid #00cccc;
    }
    #save-button:hover  {
        border: 1px solid #dddddd;
    }
}